<form asp-action="Index" method="post">
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" name="nickname">
        <input type="submit" value="Play!">
    </form>
<script src="~/lib/signalr/signalr.min.js"></script>
<script>

</script>